GOOGLE_SERVICE_ACCOUNT_KEY_FILE=path/to/key-file
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-secret
CLIENT_SERVICE_ACCOUNT_EMAIL=your-sa-email
REDIRECT_URI=path/to/redirect/uri
POSTGRES_HOST=ip-address
POSTGRES_PORT=0000
POSTGRES_USER=name-of-postgres-user
POSTGRES_PASSWORD=0000
POSTGRES_DB=name-of-db
REDIS_HOST=ip-address
REDIS_PORT=0000
JWT_ACCESS_SECRET=yoursupersecretaccesssecret
JWT_REFRESH_SECRET=yoursupersecretrefreshsecret
PORT=0000
ORGANIZATION_ID=organization-id
DOMAIN_TEST=customers-domain
API_BASE_URL=http://localhost:4000
SUPER_ADMIN_EMAIL=super-admin-email
INITIAL_DEPTH=1
ITEM=item
INFO=info
LIST=list
FILES=files
DRIVE=drive
PERSONAL_DRIVE=my-drive
SHARED_DRIVE=shared-drive
TTL=60

FILTERS=filters
TRASHED=trashed
TYPE=type
OWNER=owner
SHARED_WITH=shared-with
DELETED=deleted
GENERAL_ACCESS=general-access

STRING=string
SETS=sets
HASH=hash
JSON=json
CRYPTO=ENABLE
PROJECT_NAME=new-proj