GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
REDIRECT_URI=http://localhost:3001/oauth2callback
POSTGRES_HOST=postgres-host-ip-address
POSTGRES_PORT=postgres-port
POSTGRES_USER=postgres-username
POSTGRES_PASSWORD=postgres-password
POSTGRES_DB=testdb
JWT_ACCESS_SECRET=your-super-secret-access-secret
JWT_REFRESH_SECRET=your-super-secret-refresh-secret
PORT=4000
ORGANIZATION_ID=your-org-id
API_BASE_URL=http://localhost:4000
DOMAIN_TEST=pvp-test-domain2.com
PERSONAL_DRIVE_NAME=my-drive
REDIS_HOST=redis-host
REDIS_PORT=redis-port
SHARED_DRIVE_LIST=shared-drives
